---
layout: compress
---

{% include base_path %}


<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <meta name="google-site-verification" content="6KEIR9uDi7the-7lnKMocB0NazXVxpqF450veKgYlh4" />
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    
    font-size: 10px;  
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
